<link rel="stylesheet" href="/css/footer.css">

<section class="footer-container">
    <div class="footer-group">
        <span>links</span>
        <p>contact</p>
        <p>about us</p>
        <p>mapa</p>
    </div>

    <div class="footer-group">
        <span>información</span>
        <p>dirección:  Siempre viva nº 2063 Reconquista</p>
        <p>tel: +549 3482 278 591</p>
        <p>email: testrandomdeveloper@gmail.com</p>
    </div>

    <div class="footer-group">
        <span>legales</span>
        <p>política de privacidad</p>
        <p>terminos y condiciones de uso</p>
        <p>Aviso legal</p>
    </div>
</section>